# Binaries
bin/
bin-int/
Intermediates/
Binaries/

# RealEngine files
*.log
*.opt

# VoxelSandbox files
VoxelSandbox/assets/chunks

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
RealEngine/vendor/VulkanSDK
RealEngine-Editor/assets/cache
VoxelSandbox/assets/cache
Sandbox/assets/cache
MachineLearningSandbox/assets/cache
scripts/__pycache__

# ImNode Files
/Sandbox/Fragment.json
/Sandbox/Vertex.json
