# Binaries
bin/
bin-int/

# RealEngine files
*.log

# VoxelSandbox files
VoxelSandbox/assets/chunks

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
RealEngine/vendor/VulkanSDK
RealEngine-Editor/assets/cache
VoxelSandbox/assets/cache
Sandbox/assets/cache
MachineLearningSandbox/assets/cache
scripts/__pycache__